<div ng-controller="InventoryPmanageCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white no-radius no-border">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="margin-top-5">
                                            <div class="media padding-left-10 padding-right-10">
                                                <div class="media-body ">
                                                    <div class="panel-footer">
                                                        <h4 class="over-title margin-bottom-5">
                                                            โครงการที่ได้รับการจัดสรรงบประจำปี 2564
                                                            <span class="text-bold">
                                                            </span>
                                                        </h4>
                                                        <p class="no-margin">
                                                            <a href="#">
                                                                <i class="fa fa-arrow-circle-o-down text-green">
                                                                </i>
                                                            </a>
                                                            <span class="text-light margin-left-10">
                                                                ข้อมูลเพิ่มเติม
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <table class="table table-hover no-padding " id="tspecing">
                                            <thead>
                                                <tr class="label-info">
                                                    <th>
                                                        <span class="label uppercase">
                                                            อนุมัติ
                                                        </span>
                                                    </th>
                                                    <th class="hidden-xs">
                                                        <span class="label uppercase">
                                                            ตรวจสอบ
                                                        </span>
                                                    </th>
                                                    <th>
                                                        <span class="label uppercase">
                                                            รวมทั้งสิ้น
                                                        </span>
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="text-bold">
                                                            1
                                                        </span>
                                                    </td>
                                                    <td class="hidden-xs">
                                                        <span class="text-bold">
                                                            6
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="text-bold">
                                                            7
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="table table-condensed table-hover" id="AdminProjectListTbl" width="100%">
                                            <thead>
                                                <tr class="uppercase label-default ">

                                                    <th>
                                                        <span class="text-white ">
                                                            ลำดับ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            สำนัก
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            ส่วน
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            โครงการ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            งบประมาณ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            สถานะแผนงาน
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            ผลอนุมัติ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white ">
                                                            #
                                                        </span>
                                                    </th>
                                            </thead>
                                        </table>
                                        <div class="fadeIn wow" data-wow-delay="0.5s">
                                            <div class="content-loading">
                                            </div>
                                            <div class="">
                                                <!-- table class="table no-margin table-cellstyle-primary table-hover no-padding 25threport" id="mlistreport">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <span class="label uppercase">
                                                                    Month
                                                                </span>
                                                            </th>
                                                            <th class="hidden-xs">
                                                                <span class="label uppercase">
                                                                    Acession
                                                                </span>
                                                            </th>
                                                            <th>
                                                                <span class="label uppercase">
                                                                    Database
                                                                </span>
                                                            </th>
                                                            <th class="hidden-xs">
                                                                <span class="label uppercase">
                                                                    Herbarium
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>