<div ng-controller="InventMainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-white no-radius no-border">
                            <div class="panel-body">
                                <div class="margin-top-5">
                                    <div class="media padding-left-10 padding-right-10">
                                        <a class="pull-right " href="#">
                                            <img alt="image" class="proimage img-circle" src="{{avatar}}">
                                            </img>
                                        </a>
                                        <div class="media-body ">
                                            <div class="panel-footer">
                                                <h5 class="over-title margin-bottom-5">
                                                    รายชื่อโครงการที่รับผิดชอบ
                                                    <span class="text-bold">
                                                    </span>
                                                </h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table cellspacing="0" class="table table-condensed table-hover"
                                            id="ProjectListTbl" width="100%">
                                            <thead>
                                                <tr class="uppercase label-default ">

                                                    <th>
                                                        <span class="label-change ">
                                                            ลำดับ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">
                                                            สำนัก
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">
                                                            ส่วน
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">
                                                            โครงการ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">
                                                            งบประมาณ
                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">

                                                        </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="label-change ">

                                                        </span>
                                                    </th>
                                            </thead>
                                        </table>
                                        <div class="fadeIn wow" data-wow-delay="0.5s">
                                            <div class="content-loading">
                                            </div>
                                            <div class="">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>