<!-- start: FIRST SECTION -->
<div page-loader="">
    <div class="rect1">
    </div>
    <div class="rect2">
    </div>
    <div class="rect3">
    </div>
    <div class="rect4">
    </div>
    <div class="rect5">
    </div>
</div>
<div class="container-fluid fadeIn wow" data-wow-delay="0.5s">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white no-radius no-border">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel-body">
                                        <div>
                                            <div class="Top bg-primary"></div>
                                            <div class="pull-left Cells Tabselected label-default">
                                                รายชื่อโครงการที่รับผิดชอบ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="container">
                                        <table cellspacing="0" class="table table-condensed table-hover" id="ProjectListTbl" width="100%">
                                            <thead>
                                                <tr class="uppercase label-default ">

                                                    <th>
                                                        <span class="text-white">
                                                                ลำดับ
                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">
                                                                สำนัก
                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">
                                                                ส่วน
                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">
                                                                โครงการ
                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">
                                                                งบประมาณ
                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">

                                                            </span>
                                                    </th>
                                                    <th class="center">
                                                        <span class="text-white">

                                                            </span>
                                                    </th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>