<!-- start: FIRST SECTION -->
<div page-loader="">
    <div class="rect1">
    </div>
    <div class="rect2">
    </div>
    <div class="rect3">
    </div>
    <div class="rect4">
    </div>
    <div class="rect5">
    </div>
</div>
<div class="container-fluid fadeIn wow" data-wow-delay="0.5s">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white no-radius no-border">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel-body">
                                        <div class="partition-light-grey padding-15 text-center margin-bottom-25">
                                            <h4 class="no-margin">{{purchaseexpectinfo.expense_type}}</h4>
                                            <span class="cl-effect-3 links block margin-top-10">
                                                    <span
                                                        class="text-light">ค่าใช้จ่ายที่การหนดให้จ่ายเพื่อการบริหารงาน</span>
                                            </span>
                                        </div>
                                        <!--div class="panel-body">
                                                <h1>{{purchaseexpectinfo.expense_type}}</h1>
                                            </div-->
                                        <!--div class="pull-left Cells Tabselected label-default">
                                                {{purchaseexpectinfo.expense_type}}
                                            </div-->
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="panel-body">
                                        <table class="table table-hover no-padding " id="tspecing">
                                            <thead>
                                                <tr class="label-default">
                                                    <th class="hidden-xs">
                                                        <span class="label uppercase">
                                                                รวมค่าใช้จ่าย
                                                            </span>
                                                    </th>
                                                    <th>
                                                        <span class="label uppercase">
                                                                คงเหลือ
                                                            </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="hidden-xs">
                                                        <span class="text-bold">
                                                                {{purchaseexpectinfo.expense_cost}}
                                                            </span>
                                                    </td>
                                                    <td>
                                                        <span class="text-bold">
                                                                {{purchaseexpectinfo.balancebudget}}
                                                            </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">

                                            </div>
                                            <div class="col-sm-12">
                                                <div class="">
                                                    <div class="panel panel-white no-radius no-border">
                                                        <table cellspacing="0" class="table table-condensed table-hover" id="PurchasePlanListTbl" width="100%">
                                                            <thead>
                                                                <tr class="uppercase label-default ">
                                                                    <th>
                                                                        <span class="text-white">
                                                                                #
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white">
                                                                                ลำดับ
                                                                            </span>
                                                                    </th>
                                                                    <th class="left">
                                                                        <span class="text-white pull-left">
                                                                                ช่วงเวลาที่ต้องการจัดซื้อ
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white pull-left">
                                                                                mix month
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white pull-left">
                                                                                งบประมาณ
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white pull-left">
                                                                                idproject_details_expect
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white pull-left">
                                                                                idproject_details
                                                                            </span>
                                                                    </th>
                                                                    <th class="center">
                                                                        <span class="text-white pull-left">
                                                                                #
                                                                            </span>
                                                                    </th>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>