<div class="p-subresult-view scrollbar-macosx" data-jquery-scrollbar="jqueryScrollbarOptions">
    <!-- start: FIRST SECTION -->
    <div page-loader="">
    </div>
    <div class="container-fluid container-fullw fadeIn wow no-margin" data-wow-delay="1.0s">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="panel-heading">
                            <h5 class="text-bold text-extra-small text-dark-transparent text-uppercase">
                                Product List
                                <i class="fa fa-arrow-circle-o-right">
                                </i>
                            </h5>
                            <h3>
                                รายการพัสดุ
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="panel" id="visits">
                        <div class="margin-top-15">
                            <div class="row">
                                <div class="focusguard" id="focusguard-1" tabindex="1">
                                </div>
                                <table class="table table-hover no-padding " id="tspecing">
                                    <thead>
                                        <tr class="label-default">
                                            <th>
                                                <span class="label">
                                                    ALL
                                                </span>
                                            </th>
                                            <th class="hidden-xs">
                                                <span class="label">
                                                    WAITING STATE
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-large text-bold" id="disburse">
                                                    {{statcount.countconfirm}}
                                                </span>
                                            </td>
                                            <td class="hidden-xs">
                                                <span class="text-large text-bold" id="subtotal">
                                                    {{statcount.countwaiting}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="focusguard" id="focusguard-2" tabindex="{{countarr}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table table-bordered table-hover no-padding" id="AdminProductlistTbl" width="100%">
                    <thead>
                        <tr class="uppercase label-default ">
                            <th>
                                <span class="text-white">
                                    #
                                </span>
                            </th>
                            <th>
                                <span class="text-white">
                                    idproduct
                                </span>
                            </th>
                            <th class="center">
                                <span class="text-white">
                                    รายการ
                                </span>
                            </th>
                            <th>
                                <span class="text-white">
                                    ขนาด
                                </span>
                            </th>
                            <th>
                                <span class="text-white">
                                    คุณลักษณะเฉพาะ
                                </span>
                            </th>
                            <th>
                                <span class="text-white">
                                    หน่วย
                                </span>
                            </th>
                            <th>
                                <span class="label-change ">
                                    จำนวนรายการ
                                </span>
                            </th>
                            <th>
                                <span class="label-change ">
                                    #
                                </span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- end: FIRST SECTION -->
    </div>
</div>