<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="sidebar.nav.forms.ELEMENTS">FORM ELEMENTS</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">

    <div class="row">
    <div class="col-sm-6">
        <img class="user_profile_img" ng-src="assets/img/avatars/avatar13_tn.png" alt="" height="76" width="76">
        <h1 class="user_profile_name"> Sompong Thongkhaow</h1>
        <p class="user_profile_info">Web Developer</p>
        <p class="user_profile_info"></p>
    </div>
    <div class="col-sm-6 text-right-sm">
        <div class="easy_chart_box">
            <div class="easy_chart_user_tasks easy_chart" data-percent="66">
                <span class="easy_chart_icon icon_download"></span>
            </div>
        </div>
        <div class="easy_chart_box">
            <div class="easy_chart_user_mails easy_chart" data-percent="55">
                <span class="easy_chart_percent_text"></span>
            </div>
        </div>
        <div class="easy_chart_box">
            <div class="easy_chart_user_sale easy_chart" data-percent="88">
                <span class="easy_chart_percent"></span>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <form name="frmMain"  id="formID" class="gf">

<fieldset>
     

        <div class="gf-row-6 ">
                <div class="gf-col-6 gf-col-bg">
                   <fieldset>
                        <legend>Search Collection</legend>
                              <div class="gf-row-3 gf-large">
                                    <div id="filter_col1" data-column="7" class="gf-col-1">
                                        <label>CODE</label>
                                    <INPUT type="text" name="txtcoll_code_inter" class="column_filter" id="col7_filter"  value="{{specdata.coll_code}}" autofocus>                
                                    </div>
                                    <div id="filter_col2" data-column="8" class="gf-col-1">
                                        <label>YEAR</label>    
                               <INPUT  type="text" name="txtcoll_year_inter" class='column_filter number'  id="col8_filter"  value="{{specdata.coll_year}}" autofocus>
                                   </div>
                                   <div class="gf-col-1">
                                        <label>NUMBER</label>                               
                                <div id="filter_col3" data-column="9" class="input-group">
                               <INPUT type="text" name="txtcoll_number_inter" class='column_filter number '  id="col9_filter"  value="{{specdata.coll_number}}" autofocus>
                       
                    </div> 
                                   </div>
                               
                             </div>
                             
                                                         
                           
                               <INPUT name="txtidcollection" id="txtidcollection" type="hidden" value="{{data.idcollection}}" autofocus>
                    </fieldset>
                   
                    
                   <fieldset>
                        <legend>Collection List</legend>
                      <div class="row">
    <div class="col-md-12">
        <label>&nbsp;</label>
        
        
       
            <table id="collectionview" class="table compact table-striped table-bordered" cellspacing="0"  width="2300px">
                <thead>
                    <tr>
                        
                        <th>Coll No.</th>
                        <th>Collection No.</th>
                        <th>Traptype</th>
                        <th>amphurs</th>
                        <th>startdate</th>
                        <th>enddate</th>
                        <th>locality</th>
                        <th>specificloca</th>
                        <th>habittat</th>
                        <th>latdec</th>
                        <th>longdec</th>
                        <th>masl</th>
                                                <th>collector</th>
                                                
                                              
                                              
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        
                        <th>idcollection</th>
                        <th>collectionid</th>
                        <th>traptype</th>
                        <th>amphurs</th>
                        <th>startdate</th>
                        <th>enddate</th>
                        <th>locality</th>
                        <th>specificloca</th>
                        <th>habittat</th>
                        <th>latdec</th>
                        <th>longdec</th>
                        <th>masl</th>
                                                <th>collector</th>
                                                
                                               
                    </tr>
                </tfoot>
            </table>

            
        
      
</div>
                    </fieldset>
                   
                
                   
                   
                </div>
                                     
           
        </div>
</fieldset>




</form>
    
        
        
        
        
        
        
        
        
        
        
       
    </div>
    <div class="col-md-3">
        <h3 class="heading_a">
            <span class="heading_text">print queue</span>
        </h3>
        
        <div id="content-1" class="content">
           <ul class="user_profile_list_a">
                 
                <li class=""  >
                <!--
                    <a href="javascript:void(0)">
                        <img ng-src="assets/img/avatars/avatar09_tn.png" alt="" height="38" width="38">
                        <p>{{contact.collectionid}}<span><span class="text-muted"><br>Number of Print:</span>{{contact.numberofitemstoprint}}</span><br><a id="{{contact.idlabelprintqueue}}" class="del">Delete</a></p>
                        
                    </a>
                </li>
               -->
            </ul>
        </div> 
        
        <a ui-sref="auth.QSBG_collection.print_summary" class="btn btn-primary btn-outline btn-sm">Check Out</a>
    </div>
    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
</div>

                </div>






            </div>
        </div>
    </div>
</div>



