<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Formance.js by Omar Shammas</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Formance.js</h1>
        <p>Bringing romance back .... to forms.</p>

        <p class="view"><a target="_blank" href="http://github.com/omarshammas/jquery.formance">View the Project on GitHub <small>omarshammas/jquery.formance</small></a></p>

        <p>Read here how to <a target='_blank' href='https://github.com/omarshammas/jquery.formance/wiki/Getting-Started'>get started</a></p>

        <iframe src="http://ghbtns.com/github-btn.html?user=omarshammas&repo=jquery.formance&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        <br />
        <iframe src="http://ghbtns.com/github-btn.html?user=omarshammas&repo=jquery.formance&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        <br />
        <iframe src="http://ghbtns.com/github-btn.html?user=omarshammas&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="100%" height="20"></iframe>


      </header>
      <section>

     
        <div class='field' id='phone_number'>
            <h4>North American Phone Number</h4>
            <p> <input type="text" class="phone_number" placeholder="Phone Number"> </p>



        </div>

        <div>
         
            <p> <input type="text" class='dd_mm_yyyy' placeholder="Date DD / MM / YYYY"> </p>

         

        </div>

        <div class='field' id='yyyy_mm_dd'>
            <h4>Date YYYY / MM / DD</h4>
            <p> <input type="text" class='yyyy_mm_dd' placeholder="Date YYYY / MM / DD"> </p>

        </div>



        <div class='field' id='number'>
            <h4>Numbers</h4>
            <p><input type="text" class='number' placeholder="Only Digits"></p>

            <h4>Numbers (Length = 5)</h4>
            <p><input type="text" class='number' placeholder="Only Digits" data-formance_length='5'></p>

            <p>Formats the number:</p>

            <ul>
                <li>Restricts input to numbers </li>
            </ul>
            <div class="highlight">
                <pre>
<span class="nx">$</span><span class="p">(</span><span class="s1">'input.number'</span><span class="p">).</span><span class="nx">formance</span><span class="p">(</span><span class="s1">'format_number'</span><span class="p">);</span>
                </pre>
            </div>

            <p>Validates the number:</p>

            <ul>
                <li>Validates all characters are digits</li>
                <li>If the <code>formance_length</code> data attribute exists, then it will check that the input length matches what was specified. It must be a number.</li>
            </ul>

            <div class="highlight highlight-javascript"><pre>
<span class="nx">$</span><span class="p">(</span><span class="s2">"&lt;input value='1234' /&gt;"</span><span class="p">).</span><span class="nx">formance</span><span class="p">(</span><span class="s1">'validate_number'</span><span class="p">);</span> <span class="c1">// true</span>
<span class="nx">$</span><span class="p">(</span><span class="s2">"&lt;input value='1234' data-formance_length=4 /&gt;"</span><span class="p">).</span><span class="nx">formance</span><span class="p">(</span><span class="s1">'validate_number'</span><span class="p">);</span> <span class="c1">// true</span>
<span class="nx">$</span><span class="p">(</span><span class="s2">"&lt;input value='1234' data-formance_length=5 /&gt;"</span><span class="p">).</span><span class="nx">formance</span><span class="p">(</span><span class="s1">'validate_number'</span><span class="p">);</span> <span class="c1">// false</span>
<span class="nx">$</span><span class="p">(</span><span class="s2">"&lt;input value='1234a' /&gt;"</span><span class="p">).</span><span class="nx">formance</span><span class="p">(</span><span class="s1">'validate_number'</span><span class="p">);</span> <span class="c1">// false</span>
            </pre></div>

        </div>





  

      </section>
      <footer>
        <p>This project is maintained by <a href="http://omarshammas.com">Omar Shammas</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
<!-- Javascript at the bottom for faster loading -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   
    <script src="js/jquery.formance.min.js" /></script>
    <script src="js/awesome_form.js"></script>
  </body>
</html>
